name: Run tests

on:
  push:
    branches:
      - dev
      - main
      - test/**
  pull_request:
    branches:
      - dev
      - main


jobs:
  test:
    runs-on: ubuntu-latest

    # Set default working directory to the 'server' folder
    defaults:
      run:
        working-directory: ./server

    steps:
      # Step 1: Checkout the repo
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Set up Node.js environment
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      # Step 3: Install npm dependencies
      - name: Install dependencies
        run: npm install

      # Step 4: Run test scripts (from package.json)
      - name: Run tests
        run: npm test
